<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <connectionStrings>
    <add name="QuanLyBanHang_Group9_INF205ConnectionString" connectionString="Data Source=.;Initial Catalog=QuanLyBanHang_Group9_INF205;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QuanLyBanHang_Group9_INF205ConnectionString2" connectionString="Data Source=.;Initial Catalog=QuanLyBanHang_Group9_INF205;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QuanLyBanHang_Group9_INF205ConnectionString3" connectionString="Data Source=.;Initial Catalog=QuanLyBanHang_Group9_INF205;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QuanLyBanHang_Group9_INF205ConnectionString4" connectionString="Data Source=.;Initial Catalog=QuanLyBanHang_Group9_INF205;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QuanLyBanHang_Group9_INF205ConnectionString5" connectionString="Data Source=.;Initial Catalog=QuanLyBanHang_Group9_INF205;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QuanLyBanHang_Group9_INF205ConnectionString6" connectionString="Data Source=.;Initial Catalog=QuanLyBanHang_Group9_INF205;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QuanLyBanHang_Group9_INF205ConnectionString7" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\LeChung\Desktop\CloudComputing9\WebSite_CloudComputing\AppData\QuanLyBanHang_Group9_INF205.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="QuanLyBanHang_Group9_INF205ConnectionString8" connectionString="Data Source=.;Initial Catalog=QuanLyBanHang_Group9_INF205;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
</configuration>